@import '../../styles/variables.scss';

.teamBanner {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background: url("/back3.jpg") no-repeat center / cover;    
    text-align: center;
    padding-top: 101px;
    h5, h1 {
        color: white !important;
    }
    @media screen and (max-width: 770px) {
      height: auto;
}
}

.desc {
    max-width: 700px;
    text-align: center;
    margin: auto;
    animation-name: leftToRight;
    // animation-duration: 4s;
    @media screen and (max-width: 770px) {
      padding: 16px;
} 
}

.card {
    background-color: #f707765c;
    border-radius: 15px;
    &.ant-card-body {
       display: flex;
        align-items: center;
        justify-content: center;     
    }

}

.cardContainer {
    padding:80px 48px;
    display: flex;
    justify-content: space-evenly;
}

.image {
    color: transparent;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -65px;
    border: 3px solid $tech-secondary-blue;
}

.content {
    margin-top: 80px;
}

.title {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
  margin-bottom: 0;
  color: black;
}

@keyframes leftToRight {
    from {
        margin-left: 0;
    }
    to {
      transform: translateX(50%);
    }
  }

  .greyContainer {
    background-color: $tech-background-gray;
    padding: 32px 56px;
    margin-bottom: 40px;
    @media screen and (max-width: 770px) {
      padding: 16px;
} 
  }

  .container {
    padding: 32px 56px;
    margin-bottom: 40px;
    @media screen and (max-width: 770px) {
      padding: 16px;
}
  }

  .icon {
    margin-right: 4px;
  }

  .iconCol {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    width: auto !important;
    // height: 90%;
    transition: width 2s, height 2s;
    cursor: pointer;
    &:hover{
      filter: none !important;
      width: 100%;
      height: 100%;
    }  
  }

  .rowContainer {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 770px) {
      padding: 16px 0 0;
} 
  }

  .benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
  }

  .benefitImage {
    margin-bottom: 12px;
  }

  .techDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }