@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "NasalizationRg", sans-serif;
  // font-family: jura;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ant-card-body {
  display: flex;
   align-items: center;
   justify-content: center;     
}

.ant-menu-horizontal {
  background: transparent !important;
  border-bottom: none !important;
}

.ant-collapse {
  background-color: $tech-background-gray !important;
}

@font-face {
  font-family: 'Kurale';
  src: url('/fonts/Kurale.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: nasalization;
  font-weight: 400;
  font-style: normal;
  src: url('/public/fonts/nasalization.woff') format('woff'),
      url('/public/fonts/nasalization.woff') format('woff');
}

@font-face {
  font-family: jura;
  font-weight: 400;
  font-style: normal;
  src: url('/public/fonts/Jura/static/Jura-Regular.ttf') format('ttf'),
      url('/public/fonts/Jura/static/Jura-Regular.ttf') format('ttf');
}


@font-face {
  font-family: "NasalizationRg";
  src: local("NasalizationRg"),
   url("/fonts/NasalizationRg-Regular.ttf") format("truetype");
  font-weight: 400;
  }

@font-face {
  font-family: Covington;
    src:  url('/public/fonts/webfonts/Covington-SC-Exp-Bold-Italic.ttf.woff') format('woff'),
    url('/public/fonts/webfonts/Covington-SC-Exp-Bold-Italic.ttf.eot');
    // url('/public/fonts/webfonts/Covington-SC-Exp-Bold-Italic.ttf.eot'),
    // url('/public/fonts/webfonts/Covington-SC-Exp-Bold-Italic.eot?#iefix') format('embedded-opentype'); 
    font-weight: 400;
    // font-style: normal;
}
