$border-color: rgba(229, 231, 235, 100);
$padding-space: 144px;
$site-text-color: #314659;
$text-color: #314659;
$primary-color: '#666666';
$border-color-base: 'red';
$font-family: '';
$border-radius-base: 15px;
$tech-primary-pink: #F70776;
$tech-secondary-blue: #2c3784;
$tech-background-blue: #2e377f3d;